[submodule "lodr"]
	path = deps/lodr
	url = https://github.com/mcclure/lodr.git
[submodule "deps/lovr"]
	path = deps/lovr
	url = https://github.com/alloverse/lovr.git
[submodule "deps/allonet"]
	path = deps/allonet
	url = https://github.com/alloverse/allonet.git
[submodule "deps/lovr-android"]
	path = deps/lovr-android
	url = https://github.com/alloverse/lovr-oculus-mobile-alloverse.git
[submodule "deps/alloui"]
	path = lua/alloui
	url = https://github.com/alloverse/alloui-lua.git
